.balloon {
  width: 140px;
  height: 215px;
  background-color: $color-point-light;
  position: relative;
  clip-path: polygon(25% 0%, 86% 25%, 50% 100%, 0% 29%);

  &-holder{
    position: relative;
    &:after,&:before{
      content: '';
      width:3px;
      height:80%;
      bottom:0;
      background: #0d6efd;
      display: none;

    }
    &:after{

    }
    &:before{
      height: 58%;
      bottom: -27px;
      background: #0d6efd;
      position: absolute;
      transform: rotate(-27deg) translateX(48px);
      z-index: 9;
    }
  }

  &-top{
    position: absolute;
    width: 121px;
    height: 127px;
    border-radius: 50%;
    background-color: $color-point-light;
    top: -7px;
    outline: 3px solid #0d6efd;
  }
}

.shape-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 600;
  width: 12rem;

  &-left{
    left:-12rem;
    right:unset;
    text-align: right;
  }
  &-right{
    right: -12rem;
    left: unset;
  }
}

.first-row{
  .shape-text{
    top: 27%;
    &-left{
      text-align: right;
      top: 28%;
    }
  }
}

.second-row{
  .shape-text{
    &-left{
      left:-15rem;
    }
    &-right{
      left:unset;
      right: -15rem;
    }
  }
}

.third-row{
  .shape-text{
    top:70%;
    &-left{

    }
    &-right{
      right: -14rem;
    }
  }
}
.point-div{
  .icon-holder{
    img{
      position: absolute;
      top: 36px;
      left: -8px;
    }
  }

  &-2{
    .icon-holder{
      img{
        right: 0;
        left: unset;
        top: 21px;
      }
    }
  }

  &-3{
    padding-right:30px;

    .icon-holder{
      img{
        bottom: unset;
        top: 39%;
        left: -23px;
      }
    }

  }

  &-4{
    .icon-holder{
      img{
        top: 32%;
        bottom: unset;
        left: unset;
        right: -19px;
      }
    }
  }

  &-5{
    .icon-holder{
      img{
        width: 4rem;
        top: unset;
        bottom: 24px;
        left: 9px;
      }
    }
  }

  &-6{
    .icon-holder{
      img{
        top: unset;
        bottom: 34px;
        right: -9px;
        left: unset;
      }

    }
  }
}
